<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static "mobIndexIn_files/app.css"%}">
    <link type="text/css" rel="stylesheet" href="{% static "mobIndexIn_files/style.css"%}">
    <!-- <script src="./mobIndexIn_files/jquery-1.11.1.min.js.下载"></script> -->
    <!-- <script src="./mobIndexIn_files/jquery.qrcode.min.js.下载"></script> -->
</head>

<body style="background-color:white;">
        <div class="successInfo" style="display: block;">
            <img class="successImg" src="{% static "mobIndexIn_files/Schoolin.png" %}">
            <p class="successMsg">进校验证通过</p>
            <div><div class="passLabel">姓名：</div><div class="passValue userName">李嘉雯</div></div>
			<div><div class="passLabel">单位/学院：</div><div class="passValue deptName">地质与测绘学院</div></div>
			<div><div class="passLabel">通行区域：</div><div class="passValue campusName">校本部</div></div>
			<div><div class="passLabel">通行时间：</div><div class="passValue passTime">2020-10-17 10:45:41</div></div>
        </div>
    </div>

</body>
</html>
